*~
*.swp
*.old
vlc-qt-interface.conf
bookmarks
.netrwhist
config/nvim/plugged/*
home_root/vim/plugged/*
home_root/goldendict/index/*
home_root/goldendict/history
home_root/atom/*
!config.cson
!keymap.cson
!snippets.cson
!styles.less
config/Code/*
!config/Code/User/
config/fcitx/*
!config/fcitx/conf/
!config/fcitx/config
!config/fcitx/data/
config/xfce4/*
!config/xfce4/terminal/
config/nvim/autoload/*
home_root/vim/autoload/*
config/copyq/*
!config/copyq/copyq.conf
!config/copyq/copyq-bak.conf
!config/copyq/copyq-filter.ini
!config/copyq/copyq_tabs.ini
!config/copyq/copyq_geometry.ini
