*~
*.swp
*.old
vlc-qt-interface.conf
bookmarks
.netrwhist
aria2.log
aria2.session
config/nvim/plugged/*
home_root/vim/plugged/*
home_root/goldendict/index/*
home_root/goldendict/history
home_root/atom/*
home_root/netease-musicbox/*
!home_root/netease-musicbox/config.json
!config.cson
!keymap.cson
!snippets.cson
!styles.less
config/Code/*
!config/Code/User/
config/Code/User/workspaceStorage/
config/fcitx/*
!config/fcitx/conf/
!config/fcitx/config
!config/fcitx/data/
!config/fcitx/profile
config/xfce4/*
!config/xfce4/terminal/
config/nvim/autoload/*
home_root/vim/autoload/*
config/copyq/*
!config/copyq/copyq.conf
!config/copyq/copyq-bak.conf
