"*":
  "atom-beautify":
    _analyticsUserId: "f5d47d11-68c3-4459-bf68-0aa4fa32285f"
    language_xml_beautify_on_save: true
    language_xml_default_beautifier: "JS Beautify"
  "autocomplete-clang": {}
  "autocomplete-ctags": {}
  core:
    disabledPackages: [
      "autocomplete-html"
      "bookmarks"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-hyperlink"
      "language-objective-c"
      "language-perl"
      "welcome"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Inziu Iosevka SC"
    fontSize: 18
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "ce4311fa-4e2b-5d6c-c1e9-21d1e3274e0f"
  linter:
    errorPanelHeight: 250
  "linter-clang": {}
  "linter-shellcheck": {}
  "one-dark-ui":
    fontSize: 16
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
    style: {}
  welcome:
    showOnStartup: false
