"*":
  "atom-beautify":
    c:
      configPath: "/home/dgeibi/code/Practice/data-structures/uncrustify.cfg"
    cpp:
      configPath: "/home/dgeibi/code/Practice/data-structures/uncrustify.cfg"
    general:
      _analyticsUserId: "f5d47d11-68c3-4459-bf68-0aa4fa32285f"
    js: {}
    xml:
      default_beautifier: "JS Beautify"
  "autocomplete-clang": {}
  "autocomplete-ctags": {}
  core:
    disabledPackages: [
      "language-hyperlink"
      "language-objective-c"
      "language-perl"
      "language-clojure"
      "markdown-preview"
      "pangu"
    ]
    projectHome: "/home/dgeibi/code/"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Iosevka Slab"
    fontSize: 24
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "ce4311fa-4e2b-5d6c-c1e9-21d1e3274e0f"
  linter:
    errorPanelHeight: 36
  "linter-clang": {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "~/.eslintrc"
  "linter-js-standard":
    style: "semi-standard"
  "linter-shellcheck": {}
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
    useLazyHeaders: false
  "one-dark-ui":
    fontSize: 18
  "one-light-ui":
    fontSize: 18
  pangu:
    autoPanguEnabled: true
    ignoredPattern: "\\\\*\\\\*[^\\\\*\\\\*]+\\\\*\\\\*, <.*>(.*?)</.*>"
    skipNoCJKLine: true
  "spell-check":
    addKnownWords: true
    locales: [
      "en-US"
    ]
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    style: {}
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
".source.yaml":
  editor:
    autoIndent: true
    autoIndentOnPaste: false
    softWrap: false
    softWrapHangingIndent: 2
